body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

header {
    background-color: #4285f4;
    padding: 20px;
    color: #fff;
}

h1 {
    font-size: 2rem;
}

.exchange-rate {
    margin: 20px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

input {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    width: 200px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    input {
        width: 100%;
    }
}
